
:root {

  /* Colors */
  --white: #fff;
  --light-color: rgba(237, 230, 233, 1);
  --light-color-transparent: rgba(237, 230, 233, 0.7);
  --dark-color: #191E34;
  --black-transparent: rgba(28, 27, 33, 0.8);
  --accent-color: #B27B90;
  --accent-color-2: #94889b;
  --home-bg-color: #191E34;

  /* Gutters */
  --gutter-xs: 0.5rem;
  --gutter-sm: 1.5rem;
  --gutter-md: 4rem;
  --gutter-lg: 10rem;
  --gutter-xl: 20rem;

  /* Typography */
  --font-family: 'Lato', sans-serif;
  --font-family-heading: 'Raleway', sans-serif;
  --h1-size: 2.5rem;
  --h1-size-mobile: 1.9rem;
  --h2-size: 1.3rem;
  --h3-size: 1.3rem;
  --h4-size: 1.5rem;
  --h5-size: 1.5rem;
  --font-size: 0.9rem;
  --font-weight: 400;
  --font-weight-bold: 600;
  --font-weight-black: 800;
  --line-height: 2;
  --line-height-sm: 1.6;
  --letter-spacing-medium: 0.1rem;
  --letter-spacing-large: 0.2rem;
}

body {
  background-color: var(--home-bg-color);
  color: var(--dark-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height-sm);
  margin: 0;
  transition-delay: 0.5s;
}

#app {
  background-color: var(--home-bg-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.content {
  max-width: 1000px;
  min-height: 100vh;
  padding: 2.5rem;
  padding-bottom: var(--gutter-lg);
  padding-top: var(--gutter-md);
  margin: auto;
  transition: all 0.4s ease-out 0s;
  width: 100%;
}

@media only screen and (min-width: 770px) {
  .content {
    padding: var(--gutter-md);
    padding-top: 15vw;
  }
}

.app-top {
  display: flex;
}

.content a {
  border-bottom: 0.05rem dotted var(--accent-color);
  color: var(--accent-color);
  text-decoration: none;
  transition: all 0.2s ease-out 0s;
}

.content a:hover {
  border-bottom: 0.05rem dashed var(--light-color);
  color: var(--light-color);
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

hr {
  border: 0.5px solid #212548;
  margin-bottom: var(--gutter-sm);
}

img {
  max-width: 100%;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

h1 {
  font-family: var(--font-family-heading);
  font-size: var(--h1-size-mobile);
  font-weight: var(--font-weight-black);
  letter-spacing: var(--letter-spacing-large);
  margin: var(--gutter-xs) 0;
  max-width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 770px) {
  h1 {
    font-size: var(--h1-size);
    margin: var(--gutter-sm) 0;
  }
}

h2 {
  color: var(--light-color);
  font-family: var(--font-family-heading);
  font-size: var(--h2-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-medium);
  line-height: var(--line-height-sm);
  margin-bottom: var(--gutter-sm);
  margin-top: var(--gutter-md);
}

h3 {
  color: var(--light-color);
  font-size: var(--h3-size);
  margin: var(--gutter-sm) 0;
}

.btn {
  font-family: var(--font-family-heading);
}

::selection {
  background-color: var(--dark-color);
  color: var(--accent-color);
}
::-moz-selection {
  background-color: var(--dark-color);
  color: var(--accent-color);
}

/* Side navigation */
.sideNavigation {
  background-color: var(--dark-color);
  background: radial-gradient(circle, var(--light-color-transparent), var(--light-color));
  box-shadow: 0 0.3rem 0.4rem rgba(25, 25, 25, 0.85);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  transition: all 1s ease-in-out 0.3s;
  top: 0;
  width: 0;
  z-index: 5;
}

@media only screen and (min-width: 770px) {
  .sideNavigation {
    position: fixed;
  }
}

.sideNavigation>ul {
  list-style: none;
  margin: auto;
  padding-inline-start: 0;
  text-align: center;
}

.sideNavigation>ul>li {
  background: radial-gradient(circle, var(--white), var(--light-color));
  box-shadow: 0 0 0.1rem rgba(25, 25, 25, 0.55);
  opacity: 0.8;
  transition: all 0.7s ease-out 0s;
}

.sideNavigation>ul>li:hover {
  opacity: 1;
}

.sideNavigation>ul>li:last-child {
  margin-bottom: var(--gutter-sm);
}

.sideNavigation>ul>li a {
  color: var(--dark-color);
  display: block;
  font-weight: var(--font-weight-black);
  letter-spacing: var(--letter-spacing-medium);
  padding: var(--gutter-xs);
  transition: all 0.2s ease-out 0s;
  text-transform: uppercase;
}

.sideNavigation a:hover,
.sideNavigation a:active,
.sideNavigation a:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.sideNavOpen {
  width: 70%;
}

@media only screen and (min-width: 770px) {
  .sideNavOpen {
    width: 14rem;
  }
}

.toggleNav {
  bottom: 50%;
  margin-left: -1.4rem;
  opacity: 0.5;
  position: fixed;
  transition: all 0.7s ease-out 0s;
  width: 3rem;
  z-index: 100;
}

.toggleNav:hover {
  margin-left: 0;
}

.toggleNav.active {
  margin-left: 0;
  transform: rotateY(180deg);
  transition: all 0.7s ease-out 0s;
}

.toggleNav>svg {
  filter: drop-shadow( 0 0 0.3rem rgba(0, 0, 0, 0.6));
  transition: all 0.7s ease-out 0s;
}

.toggleNav.active>svg {
  filter: none;
}

.toggleNav>svg>path {
  stroke: var(--white);
  transition: all 0.7s ease-out 0s;
}

.toggleNav.active>svg>path {
  stroke: var(--dark-color);
}

/* Blog List */
.blog-list-wrapper {
  align-content: stretch;
  display: flex;
  flex-flow: wrap;
}

.blog-list-item-wrapper {
  flex: 1;
  margin: 0.4rem;
  margin-bottom: 1rem;
  padding-bottom: 120%;
  position: relative;
  transition: all 0.4s ease-out 0s;
  min-width: 100%;
}

@media only screen and (min-width: 480px) {
  .blog-list-item-wrapper {
    padding-bottom: 60%;
    min-width: 100%;
  }
}

@media only screen and (min-width: 770px) {
  .blog-list-item-wrapper {
    padding-bottom: 60%;
    min-width: 40%;
  }
}

@media only screen and (min-width: 1100px) {
  .blog-list-item-wrapper {
    padding-bottom: 35%;
    min-width: 20%;
  }
}

.blog-list-item-wrapper a {
  border-bottom: 0;
  height: 100%;
  transition: all 0.4s ease-out 0s;
  text-decoration: none;
}

.blog-list-item-wrapper a:hover {
  border-bottom: 0;
  text-decoration: none;
}


.blog-list-item {
  color: var(--light-color);
  background-size: cover;
  background-position: center;
  border-radius: 0.8rem;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 0.5s ease-in-out 0s;
}

.blog-list-item:hover {
  transform: scale(1.05);
  z-index: 2;
}

.blog-list-item .text-overlay h2 {
  color: var(--light-color);
  margin: var(--gutter-sm) 0;
  text-shadow: 0 2px 10px rgba(25, 25, 25, 0.65);
  transition: all 0.5s ease-in-out 0s;
  text-align: center;
}

.blog-list-item:hover .text-overlay h2 {
  text-shadow: 0 5px 10px rgba(25, 25, 25, 0.95);
}

.blog-list-date {
  background-color: var(--black-transparent);
  font-size: 80%;
  margin: 0;
  opacity: 0.8;
  padding: var(--gutter-xs);
  transition: all 0.5s ease-in-out 0s;
}

.blog-list-item:hover .blog-list-date {
  opacity: 1;
}

.blog-list .load-more {
  cursor: pointer;
  margin: var(--gutter-sm) auto;
  transition: all 0.2s ease-in-out 0s;
  width: 5rem;
}

.blog-list .load-more-text {
  color: var(--accent-color-2);
  visibility: hidden;
  transition: all 0.2s ease-in-out 0s;
}


.blog-list .load-more svg {
  stroke: var(--light-color);
  transition: all 0.2s ease-in-out 0s;
  width: 3rem;
}

.blog-list .load-more:hover .load-more-text {
  visibility: visible;
}

.blog-list .load-more:hover svg {
  stroke: var(--accent-color-2);
}

.read-more-btn {
  background-color: var(--black-transparent);
  border: 0.1rem solid var(--light-color-transparent);
  color: var(--light-color);
  letter-spacing: var(--letter-spacing-medium);
  margin: auto;
  text-transform: uppercase;
  width: 4rem;
}

.read-more-btn:hover {
  border: 0.1rem solid var(--dark-color);
  background-color: var(--dark-color);
  color: var(--light-color);
}

.blog-list-item .text-overlay .read-more-btn {
  padding: var(--gutter-xs);
  transition: all 0.5s ease-in-out 0s;
}

.blog-list-item:hover .text-overlay .read-more-btn {
  transform: scale(1.2);
}

@media only screen and (min-width: 770px) {
  .blog-list-item .text-overlay {
    background: radial-gradient(circle, transparent 70%, rgba(0, 0, 0, 0.4) 100%),
    linear-gradient(to top, rgba(91, 82, 82, 0.18), rgba(127, 127, 127, 0.2));
    height: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
  }
}

/* Blog Post */
.post-wrapper {
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  left: 0;
  height: auto;
  min-height: 100vh;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.post-content {
  padding: var(--gutter-xs) 10%;
}

.post-content h1 {
  letter-spacing: unset;
}

.post-content a {
  border-bottom: 0.05rem dotted var(--accent-color);
  color: var(--accent-color);
  text-decoration: none;
  transition: all 0.2s ease-out 0s;
}

.post-content a:hover {
  border-bottom: 0.05rem dashed var(--light-color);
  color: var(--light-color);
  text-decoration: none;
}

.post-color-fade {
  box-shadow: 0 0 10rem rgba(25, 25, 25, 0.4);
  background: linear-gradient(to top, var(--light-color), var(--light-color-transparent) 80%, transparent);
  min-height: 100vh;
  margin-left: auto;
  margin-right: 0;
  text-align: center;
}

.post-color-fade .post-title {
  color: var(--dark-color);
}

.post-color-fade .post-story {
  color: var(--dark-color);
  overflow: hidden;
  margin-top: var(--gutter-sm);
}

@media only screen and (min-width: 990px) {
  .post-color-fade {
    left: 0;
    right: auto;
    max-width: 50%;
  }

  .post-color-fade .post-story {
    text-align: left;
  }
}

.post-color-fade .post-date {
  background-color: var(--black-transparent);
  color: var(--accent-color);
  margin-bottom: var(--gutter-sm);
  padding: var(--gutter-xs);
}

.post-gallery figure {
  margin: 0;
  margin-bottom: 1.5rem;
  position: relative;
}

.post-gallery figure img {
  width: 100%;
}

.post-gallery-image {
  box-shadow: 0 0 1rem rgba(25, 25, 25, 0.4);
}

.post-gallery-caption {
  color: var(--light-color);
  font-style: italic;
  height: auto;
  text-shadow: 0 0 0.5rem #000;
  transition: all 0.5s ease-in-out 0s;
}

.post-gallery figure:hover .open-lightbox {
  transform: scale(1.2);
}

.post-gallery .lightbox {
  background-color: var(--black-transparent);
  bottom: 0;
  display: none;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 3;
}

.post-gallery .lightbox-image-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  height: 100vh;
  justify-content: center;
}

.post-gallery .lightbox img {
  height: 100%;
  max-width: none;
  width: auto;
}

.post-gallery .open-lightbox {
  cursor: pointer;
  height: 1.5rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  transition: all 0.5s ease-in-out 0s;
  width: 1.5rem;
}

.post-gallery .open-lightbox svg>path {
  stroke: var(--white);
}

.post-gallery .open-lightbox svg {
  filter: drop-shadow( 0 0 0.2rem rgba(0, 0, 0, 0.4));
}

.post-gallery .close-lightbox {
  cursor: pointer;
  height: 2.5rem;
  opacity: 0.8;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
}

.post-gallery .close-lightbox svg>path {
  stroke: var(--white);
}

.post-gallery .lightbox.lightboxOpen {
  display: block;
}

.post-toolbar {
  align-items: center;
  background: radial-gradient(circle, var(--black-transparent), var(--dark-color));
  color: var(--light-color-transparent);
  display: flex;
  justify-content: space-between;
  padding: var(--gutter-xs) var(--gutter-sm);
}

.post-toolbar .next-link,
.post-toolbar .previous-link {
  border: 0.02rem solid var(--light-color);
  color: var(--light-color);
  display: block;
  padding: 0 var(--gutter-xs);
  text-decoration: none;
}

.post-toolbar .next-link:hover,
.post-toolbar .previous-link:hover {
  border: 0.02rem solid var(--accent-color);
  color: var(--accent-color);
}

.post-toolbar .button-previous a:hover,
.post-toolbar .button-next a:hover,
.post-toolbar .button-previous a:focus,
.post-toolbar .button-next a:focus,
.post-toolbar .button-previous a:active,
.post-toolbar .button-next a:active {
  color: var(--light-color);
  text-decoration: none;
}

.post-toolbar .button-previous-disabled,
.post-toolbar .button-next-disabled {
  border: 0.02rem solid var(--light-color-transparent);
  opacity: 0.6;
  padding: 0 var(--gutter-xs);
}

.post-toolbar>.button-close {
  transition: all 0.5s ease-in-out 0s;
  width: 2rem;
}

.post-toolbar>.button-close:hover svg>path {
  stroke: var(--accent-color);
}

.post-toolbar>.button-close svg>path {
  stroke: var(--light-color);
}

/* Author */
.author {
  bottom: 0;
  background-color: var(--light-color-transparent);
  opacity: 0;
  padding: var(--gutter-sm);
  position: absolute;
  text-align: center;
  transition: all 0.5s ease-in 1s;
  width: 100%;
  z-index: -1;
}

.sideNavOpen .author {
  opacity: 1;
}

.author-image {
  background-size: cover;
  background-position: center 29%;
  border-radius: 50%;
  height: 8rem;
  margin: auto;
  width: 8rem;
}

.author-name {
  font-weight: var(--font-weight-black);
  margin-top: 1rem;
}

.author-some-links {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.author-some-links li {
  height: 1.6rem;
  list-style: none;
  margin: 0.3rem;;
  width: 1.6rem;
  transition: all 0.2s ease-in-out 0s;
}

.author-some-links li:hover {
  transform: scale(1.09);
}

/* Single pages */
.frontpage {
  background-size: cover;
  background-position: bottom;
  margin-bottom: var(--gutter-md);
  text-align: center;
}
.frontpage h1,
.about h1,
.not-found h1,
.bird-names h1 {
  color: var(--light-color);
  margin-bottom: var(--gutter-sm);
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.35);
}

.frontpage p,
.about p,
.not-found p,
.bird-names p {
  color: var(--accent-color-2);
  margin: var(--gutter-xs) 0;
}

.not-found {
  text-align: center;
}

@media only screen and (min-width: 990px) {
  .about,
  .not-found,
  .bird-names {
    max-width: 70%;
    margin: auto;
  }
}

.not-found h1 {
  font-size: 8rem;
}

/* Disqus */
.disqus-comments {
  margin-top: var(--gutter-md);
  padding: var(--gutter-sm);
}

/* Forms */
select, option {
  background-color: var(--light-color);
  color: var(--dark-color);
  margin-right: 1rem;
  width: 10rem;
  max-width: 100%;
}

select {
  height: 2rem;
}

.bird-names-header {
  display: flex;
}

.bird-names input {
  background-color: var(--light-color);
  max-width: 100%;
  max-width: 20rem;
  min-width: 10rem;
  padding: var(--gutter-xs);
}

.bird-names-query {
  margin-bottom: var(--gutter-md);
}

.bird-names-license {
  font-size: 0.7rem;
  margin-top: var(--gutter-md);
}

.bird-names-license p {
  line-height: 1;
}

/* Go to top button */
.goToTop {
  background: none;
  bottom: 15px;
  cursor: pointer;
  height: 2.5rem;
  opacity: 0;
  position: fixed;
  right: 15px;
  transition: all 0.5s ease-in-out 0s;
  width: 2.5rem;
  z-index: 6;
}

.goToTop>svg>path {
  stroke: var(--light-color);
}

.goToTop.isVisible {
  opacity: 0.7;
}

.goToTop.isVisible:hover {
  opacity: 1;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
  padding: var(--gutter-sm);
  padding-bottom: var(--gutter-md);
  padding-top: var(--gutter-md);
}

footer a {
  border-bottom: 0.05rem dotted var(--accent-color);
  color: var(--accent-color);
}

footer a:hover,
footer a:focus,
footer a:active {
  border-bottom: 0.05rem dashed var(--accent-color-2);
  color: var(--accent-color-2);
  text-decoration: none;
}

footer strong {
  font-size: 1.4rem;
}

.footer-wrapper {
  width: 100%;
}

.footer-first,
.footer-second,
.footer-third {
  margin-bottom: var(--gutter-sm);
  padding: var(--gutter-sm);
  text-align: center;
  width: 100%;
}

.footer-second a {
  text-transform: uppercase;
}

@media only screen and (min-width: 770px) {
  .footer-first,
  .footer-second,
  .footer-third {
    margin-bottom: 0;
    min-width: 25%;
    text-align: left;
    width: auto;
  }
}